main{
    text-align: center;
}
div{
    background-color: aqua;
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
button:hover + div{
    background-color: red;
    transform: rotate(80deg);
    transform: scale(2);
}
