    *{
        box-sizing: border-box;
        margin: 1%;
    }

    nav{
        display: inline-block;
        margin: 0 auto;
        top: 0;
    }
    ul{
        display: flex;
        list-style: none;
        padding: 0.1rem;
    }
    li{
        margin: 1rem;
        padding: 1rem;
        background-color: aquamarine;
        color: red;
    }
    p{
        margin: 0;
        padding: 0;
        width: calc(94%/4);
        float: left;
        padding: 1.5rem;
    }
    div{
        margin-top: 5%;
    }

    div :nth-child(odd){

        background-color: aqua;
    }
    div :nth-child(even){
        background-color: greenyellow;
    }

