h1{
    text-align: center;
}
div{
    width: 100%;
    text-align: center;
    padding: 50px;
    margin: 90px;
}
p{
    width: 60%;
    margin: 50px;
    padding: 50px;
    text-align: center;
}
li{
    list-style-type: none;
}