h1{
    text-align: center;
    color: rgb(243, 108, 108);

}
h2{
    text-align: center;
    color: red;

}
ul{
    display: block;
    background-color: rgb(25, 173, 231);
    text-align: center;

}
li{
    list-style-type: none;
    display: inline-block;
    border: solid 2px rgb(3, 247, 64);
    margin: 10px;
    font-size: 18px;
    color: aqua;
    background-color: greenyellow;
    
}
li:hover{

    color: rgb(161, 47, 1);
    background-color: rgb(12, 224, 154);
    font-size: 24px;

}
img{
    width: 700px;
    height: auto;
    display:block;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 50px;
}
.intro{
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 3%;
    background-color: rgba(247, 20, 20, 0.185);
}

.parrafo1{  
    width: 30%;
    margin: 2%;
    float: left;
    text-align: center;

}
.parrafo2{
    width: 30%;
    margin: 2%;
    text-align: center;
}
.parrafo3{
    width: 30%;
    margin: 2%;
    float: right;
    text-align: center;   
}

.parrafos{
    padding-left: 5%;
    padding-right: 5%;
    display: inline-flex;
}

